<!DOCTYPE html>
<html>
<head></head>

<body>
    <h1>Welcome to Facebook, <%= @user.first_name %>!</h1>

    <p>You have successfully created an account</p>
    <a href="<%= @url %>">Click Here</a> to login
</body>
</html>