nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    box-shadow: 0 3px 5px #d6d6d6;

.icon-buttons {
    display: flex;
    justify-self: center;

    & > * {
        margin: 10px 40px 5px;
    }
}

.logout-button {
    background-color: #ffffff00;
    border: none;
    &:hover { cursor: pointer; }
}

.facebook-button {
    margin: 13px 20px 5px;
}

.profile-link {
    margin: 13px 20px 5px;
    display: flex;
    align-items: center;
    justify-self: right;
    gap: 10px;
}

.profile-name-link {
    color: #000;
    text-decoration: none;
}


























}