.posts-index {
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));

.center-container {
    justify-self: center;
}






















}